/* sidebar container: sets the overall layout and color scheme */
.sidebar {
  width: 250px;
  background-color: #1e3932;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* sidebar header styling: padding for spacing */
.sidebarHeader {
  padding: 20px;
}

/* sidebar title styling */
.sidebarHeader h1 {
  font-size: 24px;
}

/* sidebar description styling */
.sidebarHeader p {
  font-size: 14px;
  margin: 10px 0;
}

/* new chat button styling */
.newChatBtn {
  background-color: #00704a;
  border: none;
  padding: 10px;
  cursor: pointer;
  color: white;
  border-radius: 5px;
}

/* remove default list styling for the navigation and footer lists */
.sidebarNav ul,
.sidebarFooter ul {
  list-style: none;
  padding: 0;
}

/* styling for list items in the navigation and footer */
.sidebarNav ul li,
.sidebarFooter ul li {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  cursor: pointer;
}

/* hover effect for list items in the navigation and footer */
.sidebarNav ul li:hover,
.sidebarFooter ul li:hover {
  background-color: #2f6d48;
}

/* icon spacing within list items */
.sidebarNav ul li svg,
.sidebarFooter ul li svg {
  margin-right: 10px;
}

/* Sidebar links */
.sidebar a {
  color: #d4e9e2;
  text-decoration: none;
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
}

/* Sidebar link hover */
.sidebar a:hover {
  background-color: #00704a;
  color: white;
  padding-left: 10px;
}
